include:
  - project: $CATALOG_PATH
    file: vault-ci.yml
    ref: main
  - project: $CATALOG_PATH
    file: kaniko-ci.yml
    ref: main

default:
  image: alpine:latest

variables:
  TAG: "${CI_COMMIT_REF_SLUG}"
  REGISTRY_URL: "${REGISTRY_HOST}/${PROJECT_PATH}"

stages:
  - read-secret
  - docker-build

read_secret:
  stage: read-secret
  extends:
    - .vault:read_secret

docker-build-api:
  variables:
    WORKING_DIR: .
    IMAGE_NAMES:  abrege-api:${CI_COMMIT_REF_SLUG} abrege-api:${CI_COMMIT_SHORT_SHA} abrege-api:${CI_COMMIT_TAG}
    DOCKERFILE: "Dockerfiles/api/Dockerfile"
    EXTRA_BUILD_ARGS: ""
  stage: docker-build
  extends:
    - .kaniko:build-push

docker-build-service:
  variables:
    WORKING_DIR: .
    IMAGE_NAMES:  abrege-service:${CI_COMMIT_REF_SLUG} abrege-service:${CI_COMMIT_SHORT_SHA} abrege-service:${CI_COMMIT_TAG}
    DOCKERFILE: "Dockerfiles/abrege_service/Dockerfile"
    EXTRA_BUILD_ARGS: ""
  stage: docker-build
  extends:
    - .kaniko:build-push

docker-build-migration:
  variables:
    WORKING_DIR: .
    IMAGE_NAMES:  abrege-migration:${CI_COMMIT_REF_SLUG} abrege-migration:${CI_COMMIT_SHORT_SHA} abrege-migration:${CI_COMMIT_TAG}
    DOCKERFILE: "Dockerfiles/migration/Dockerfile"
    EXTRA_BUILD_ARGS: ""
  stage: docker-build
  extends:
    - .kaniko:build-push
