# version: "3.8"
# services:
#   dev:
#     build: 
#       dockerfile: .Dockerfile_dev
#     env_file:
#       - .env
#     volumes:
#       - type: bind
#         source: .
#         target: /app
# 
#   prod_dev:
#     build: 
#       dockerfile: Dockerfile
#     env_file:
#       - .env
#     volumes:
#       - type: bind
#         source: .
#         target: /app
#   prod:
#     image: ghcr.io/ia-generative/abrege-abrege:latest
#     env_file:
#       - .env
#     ports:
#       - "8000:8000"

version: "3.8"
services:
  api_dev:
    profiles:
      - dev
    build:
      dockerfile: abrege_api/Dockerfile.dev
      context: ./
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - type: bind
        source: .
        target: /app 

  front_dev:
    profiles:
      - dev
    build:
      dockerfile: abrege_front/Dockerfile
    ports:
      - "8080:8080"
    environment:
      API_BASE: api
    volumes:
      - type: bind
        source: ./abrege_front
        target: /app

  api_prod:
    profiles:
      - prod
    build:
      dockerfile: abrege_api/Dockerfile.prod
      context: ./
    env_file:
      - .env
    ports:
      - "8000:8000"

  front_prod:
    profiles:
      - prod
    build:
      dockerfile: abrege_front/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - API_BASE=api_prod
