services:
  minio:
    image: minio/minio:latest
    container_name: minio_dev
    #ports:
      #- "9000:9000"
      #- "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis_dev
    ports:
      - "6379:6379"
    restart: unless-stopped

  abrege_service:
    deploy:
      replicas: 1
    command: ["celery", "-A", "abrege_service.main", "worker", "--pool=prefork","--concurrency=4", "-E"]
    image: abrege-service
    volumes:
    - ./abrege_service/:/app/abrege_service/
    - ./src/:/app/src/
    build:
      context: .
      dockerfile: Dockerfiles/abrege_service/Dockerfile
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_QUEUE_NAME: redis-queue
      MINIO_BUCKET_NAME: test
      MINIO_END_POINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      DATABASE_URL: postgresql://postgres:secret@postgres:5432/example_db
      OPENAI_API_BASE: https://localhost/v1
      OPENAI_API_KEY: EMPTY

  flower_abrege:
    image: abrege-service
    environment:
      CELERY_BROKER_URL: redis://redis
      CELERY_RESULT_BACKEND: redis://redis
      MINIO_BUCKET_NAME: test
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MINIO_END_POINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      DATABASE_URL: postgresql://postgres:secret@postgres:5432/example_db
      OPENAI_API_BASE: https://localhost/v1
      OPENAI_API_KEY: EMPTY
    ports:
      - "5555:5555"
    command: ["celery", "-A", "abrege_service.main", "flower", "--address=0.0.0.0", "--port=5555"]


  crawler4ai:
    image: unclecode/crawl4ai:latest
    env_file:
      - .env
    shm_size: 1g
    ports:
      - "11235:11235"

  abrege_api:
    image: abrege-api
    build:
      context: .
      dockerfile: Dockerfiles/api/Dockerfile
    ports:
    - 8000:8000
    container_name: abrege-api
    environment:
      REDIS_HOST: redis
      DEV_MODE: "true"
      REDIS_PORT: 6379
      CELERY_APP_NAME: default
      MINIO_BUCKET_NAME: test
      MINIO_END_POINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      DATABASE_URL: postgresql://postgres:secret@postgres:5432/example_db
    depends_on:
      - redis
      - minio
      - crawler4ai
    volumes:
      - type: bind
        source: ./api
        target: /app/api
      - type: bind
        source: ./src
        target: /app/src


  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: example_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  minio_data:
    driver: local

  postgres_data:
    driver: local
