version: "3.8"
services:
  abrege:
    image: abrege:${TAG}
    build: 
      dockerfile: ./Dockerfile
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${http_proxy}
        - ${BACKEND_PORT}
    env_file:
      - .env
    volumes:
      - type: bind
        source: .
        target: /app
    environment:
      - http_proxy=${http_proxy}
      - https_proxy=${http_proxy}
      - no_proxy=${no_proxy}
      - SENTENCE_TRANSFORMERS_HOME=/app/embeddings
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    #     limits:
    #       memory: 10G

