version: "3.8"
services:
  abrege:
    volumes:
      - ./abrege:/app/abrege/
      - ./app:/app/app/
      - ./tests/:/app/tests/
    ports:
      - ${BACKEND_PORT}:8000
    environment:
      - RELOAD=true