services:
  minio:
    image: minio/minio:latest
    container_name: minio_dev
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis_dev
    ports:
      - "6379:6379"
    restart: unless-stopped

  abrege_service:
    deploy:
      replicas: 1
    command: ["celery", "-A", "abrege_service.main", "worker","--loglevel=info", "--pool=prefork","--concurrency=1", "-E"]
    image: abrege-service
    mem_limit: 1g
    volumes:
    - ./abrege_service/:/app/abrege_service/
    - ./src/:/app/src/
    - ./tests/:/app/tests/
    build:
      target: test
      context: .
      dockerfile: Dockerfiles/abrege_service/Dockerfile
    env_file:
      - .env

  flower_abrege:
    image: abrege-service
    ports:
      - "5555:5555"
    command: ["celery", "-A", "abrege_service.main", "flower", "--address=0.0.0.0", "--port=5555"]
    env_file:
      - .env


  abrege_api:
    image: abrege-api
    build:
      target: test
      context: .
      dockerfile: Dockerfiles/api/Dockerfile
    ports:
    - 5000:5000
    volumes:
    - ./api/:/app/api/
    - ./src/:/app/src/
    - ./tests/:/app/tests/
    container_name: abrege-api
    environment:
      DEV_MODE: "true"
      CELERY_APP_NAME: default
    depends_on:
      - redis
      - minio
    env_file:
      - .env
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: example_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  migration:
    image: abrege-migration
    build:
      context: .
      dockerfile: Dockerfiles/migration/Dockerfile
    command:
    - alembic
    - upgrade
    - head
    container_name: abrege-migration
    volumes:
    - ./src/:/app/src/
    - ./migration/:/app/migration
    env_file:
      - .env
    depends_on:
      - db

  test_runner:
    image: abrege-service
    build:
      target: test
      context: .
      dockerfile: Dockerfiles/abrege_service/Dockerfile
    command: ["uv", "run", "pytest", "--cov=./abrege_service", "--cov-report=term-missing", "tests/abrege_service/", "-ra", "-v", "--maxfail=0"]
    volumes:
      # - ./abrege_service/:/app/abrege_service/
      - ./src/:/app/src/
      - ./tests/:/app/tests/
    depends_on:
      - db
      - redis
      - minio
    env_file:
      - .env
    mem_limit: 1g
  llm_guard_api:
    image: laiyer/llm-guard-api:latest
    ports:
      - "8000:8000"
    environment:
      - AUTH_TOKEN=llm_guard
      - LOG_LEVEL=DEBUG
    volumes:
      - ./llm-guard/config/scanners.yml:/home/user/app/config/scanners.yml


volumes:
  minio_data:
    driver: local

  postgres_data:
    driver: local
