services:
  fastapi:
    build:
      dockerfile: ./fastapi/Dockerfile
      target: prod
      context: ./
      # args:
      #   - http_proxy=${http_proxy}
      #   - https_proxy=${http_proxy}
      #   - ${BACKEND_PORT}
    env_file:
      - .env
    # environment:
    #   - http_proxy=${http_proxy}
    #   - https_proxy=${http_proxy}
    #   - no_proxy=${no_proxy}
    ports:
      - "8000:8000"
    networks:
      - ia-foule

  frontend:
    build:
      dockerfile: Dockerfiles/frontend/Dockerfile
      context: ./
    ports:
      - "8080:8080"
    environment:
      - API_BASE=abrege-api
    networks:
      - ia-foule
  abrege-api:
    build:
      dockerfile: Dockerfiles/api/Dockerfile
      target: base
      context: ./
    env_file:
      - .env
    ports:
      - "8000:8000"

    networks:
      - ia-foule



networks:
  ia-foule:
    external: true
