version: '3.8'

services:
  fastapi:
    build:
      target: dev
    environment:
      - RELOAD=true
    volumes:
      - type: bind
        source: .
        target: /app

  frontend:
    volumes:
      - type: bind
        source: ./frontend
        target: /app