version: '3.8'

services:
  # fastapi:
  #   build:
  #     dockerfile: ./fastapi/Dockerfile
  #     target: dev
  #     context: ./
  #   env_file:
  #     - path: .env
  #   volumes:
  #     - type: bind
  #       source: .
  #       target: /app

  frontend:
    build: 
      dockerfile: Dockerfiles/frontend/Dockerfile
      context: ./
    environment:
      - API_BASE=abrege-api
    ports:
      - "8080:8080"
    #volumes:
    #  - type: bind
    #    source: ./frontend
    #    target: /app

  abrege-api:
    build: 
      dockerfile: Dockerfiles/api/Dockerfile
      target: base
      context: ./
    env_file:
      - .env
    ports:
      - "8000:8000"
