version: "3.8"
services:
  dev:
    build: 
      dockerfile: ./Dockerfile
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${http_proxy}

    env_file:
      - .env
    volumes:
      - type: bind
        source: .
        target: /app
    ports:
      - 8000:8000
    environment:
      - http_proxy=${http_proxy}
      - https_proxy=${http_proxy}
      - no_proxy=${no_proxy}
