@import "tailwindcss";

/* Tailwind CSS - Config */
@theme {
  /* Responsive */
  --breakpoint-xs: 320px;
  --breakpoint-SM: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-lg: 1440px;

  /* Colors */
  --color-text-light-grey: #666666;
  --color-text-default-grey: #3A3A3A;

  /* Borders */
  --color-border-light-grey: #DDDDDD;
}

html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: column-reverse;
}

.main-page__container {
    width: 100%;
}

.fr-upload::file-selector-button {
  border: 1px solid #ccc;
  padding: 0.1em 0.3em;
  margin-right: 0.5rem;
  border-radius: 0.2em;
  background-color: #f5f5f5;
}

@media (min-width: 576px) {
  .main-page {
    gap: 3.125rem;
  }
}

@media (min-width: 768px) {
  .main-page {
    gap: 3.125rem;
  }
}

@media (min-width: 992px) {
  .main-page{
    display: flex;
    gap: 6.375rem;
    justify-content: flex-end;
  }
  .main-page__container {
      width: 100%;
  }
}

@media (min-width: 1248px) {
  .main-page{
    display: flex;
    gap: 6.375rem;
    justify-content: flex-end;
    flex-direction: row;
  }
  .main-page__container {
    max-width: 1200px;
  }
}