name: Deploy Additional Cluster

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

jobs:
  deploy-additional-cluster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: azure/setup-kubectl@v3
      
      - name: Configure Kubernetes context (nouveau cluster)
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_ADDITIONAL }}
      
      - name: Apply deployment
        run: |
          kubectl apply -f ./deployment.yaml -n abrege
