# .github/workflows/release-prod.yml
name: Release Final

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set release info
        id: vars
        run: |
          echo "prerelease=false" >> $GITHUB_OUTPUT
          echo "target_branch=main" >> $GITHUB_OUTPUT

      - name: Run Release Please for stable
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          target-branch: ${{ steps.vars.outputs.target_branch }}
          prerelease: ${{ steps.vars.outputs.prerelease }}
